<!DOCTYPE html>
{% extends "base.html"%}
{% block start %}
    <div>
        <h1></h1>
    </div>
    <div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Delete Contact</h2>
        <div class="mb-1">
            <label for="exampleFormControlTextarea1" class="form-label" >Do you want to delete contact {{contactsInfo.name}} ?</label>
        </div>
       
        <button type="submit" name="delete" class="btn btn-primary" onclick="showAlert()" > Delete </button>
        <button type="submit" name="cancel"class="btn btn-danger"> Cancel </button>
    </form>
    </div>

    <script>
        function showAlert() {
          var myText = "Contact Deleted Successfully";
          alert (myText);
        }
    </script>
{% endblock %}