{% extends "base.html"%}
{% block start %}
    
    <!--<div class="container col-md-9 p-4"> -->
    <div class="mt-5">
    <div class="container p-12">
        {% csrf_token %}
        <a href="/createContact/"> 
            <button type="submit" class="btn btn-primary">Create a Contact</button>
        </a>
    </div>
    </div>

    <div class="container mt-5">
   
    <div class="col-xl-9 col-md-9">
    <table class="table table-striped">
        <tr>
            <th>Action</th>
            <th></th>
            <th></th>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Created Time</th>
        </tr>
    {% for contact in contactsInfo%}
        <tr>
            <td><a href="/viewContact/{{contact.id}}/" class="delete" title="View Contact"><i class="bi bi-binoculars"></i></a> </td>
            <td><a href="/editContact/{{contact.id}}/" class="edit" title="Edit Contact"><i class="bi bi-pen"></i></a> </td>
            <td><a href="/deleteContact/{{contact.id}}/" class="delete" title="Delete Contact"><i class="bi bi-trash"></i></a> </td>
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.creation_date}}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
  </div>
</div>
{% endblock %}