{% extends "base.html"%}
{% block start %}
    <div>
        <h1>Contact Management</h1>
    </div>

    <div class="container">

    <table class="table table-striped">
        <tr>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Created Time</th>
        </tr>
    {% for contact in contact_list%}
        <tr>
            <td><a class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i class="bi bi-pen"></i></a>
                <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="bi bi-trash"></i></a>
                {{contact.Contact_name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.CreatedTime}}</td>
        </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}