{% extends "base.html"%}
{% block start %}

    <div class="container">
        
    <!--<form method="post" enctype="multipart/form-data"> -->
        {% csrf_token %}
        <a href="/createContact/"> 
            <button type="submit" class="btn btn-primary">Create a Contact</button>
        </a>
     <!--</form> -->

    </div>
    <div class="container">
    <table class="table table-striped">
        <tr>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Created Time</th>
        </tr>
    {% for contact in contactsInfo%}
        <tr>
            <td>
                <a href="/viewContact/{{contact.id}}/" class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="bi bi-binoculars"></i></a>
                <a href="/editContact/{{contact.id}}/" class="edit" title="" data-toggle="tooltip" data-original-title="Edit"><i class="bi bi-pen"></i></a>
                <a href="/deleteContact/{{contact.id}}/" class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="bi bi-trash"></i></a>
                {{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.creation_date}}</td>
        </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}